@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
}

/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

#main {
    min-height: 100vh;
    width: 100%;
    position: relative;
}

#navbar {
    height: 100px;
    width: 100%;
    /* background: #000; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2vw;
}

#lnav {
    margin: 0 1vw;
}

#cnav {
    display: flex;
    gap: 4vw;
}

#cnav>h3 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    color: #9b99b6;
}

#rnav {
    display: flex;
    gap: 2vw;
}

#rnav>h4 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}

#rnav>#navbtn2 {
    border: 2px solid #5D50C6;
    background-color: #5D50C6;
    color: #fff;
    padding: 1vh 3vh;
    border-radius: 2vw;
}

#rnav>#navbtn1 {
    border: 2px solid white;
    background-color: #fff;
    color: #000;
    padding: 1vh 3vh;
    border-radius: 2vw;
}

#menuNav {
    display: none;
}

#menuNav>i {
    font-size: 2vw;
    font-weight: 500;
}

#page-1 {
    display: flex;
}

#h3lpage1 {
    display: flex;
    align-items: center;
    margin-top: 5vw;
    padding: 0 8vw;
    color: #F85E9F;
    font-size: 0.7vw;
}

#h1-1-page1 {
    font-family: "Poppins", sans-serif;
    margin-top: 3vw;
    padding: 0 6vw;
    font-size: 3vw;
}

#lpage1>p {
    color: #191825;
}

#para2page1 {
    padding: 0 6vw;
    margin-top: 2vw;
    font-family: "Poppins", sans-serif;
    color: #7a7984;
}

#btnlpage1 {
    display: flex;
    padding: 0 6vw;
    gap: 5vw;
    margin-top: 2vw;
}

#btnlpage1>h4 {
    border: 2px solid #5D50C6;
    color: white;
    border-radius: 2vw;
    background-color: #5D50C6;
    padding: 1vw 2vw;
}

#btn2lpage1 {
    display: flex;
    gap: 0.7vw;
    padding: 1vw 2vw;
    border: 2px dotted rgb(222, 220, 220);
    border-radius: 2vw;
}

#page-1-responsive {
    display: none;
}

#page-2 {
    height: 100vh;
    width: 100%;
}

#imgpage2 {
    padding: 2.5vw 7vw;
    display: flex;
    justify-content: space-between;
}

#h3lpage2 {
    margin-top: 6vw;
    padding: 0 6vw;
}

#h3lpage2>h3 {
    letter-spacing: 0.3vw;
    font-size: 2vw;
    color: #F85E9F;
}

#plpage2 {
    padding: 0 6vw;
    margin-top: 3vw;
}

#plpage2>h1 {
    font-size: 4vw;
    font-weight: 600;
}

#lpage2div {
    display: flex;
}

.cardrpage2 {
    height: 50vh;
    width: 18vw;
    border: 1px solid #dbd9ec;
    border-radius: 2vw;
}

#rpage2 {
    margin-top: 5vw;
    display: flex;
    gap: 3vw;
}

.cardrpage2>img {
    margin: 3vw 7vw 0 7vw;
}

.cardrpage2>h2 {
    margin-top: 3vw;
    text-align: center;
}

.cardrpage2>h4 {
    margin-top: 3vw;
    text-align: center;
    color: #9b99b6;
    font-weight: 500;
}

#page-2-responsive {
    display: none;
}

#page-3 {
    height: 100vh;
    width: 100%;
}

#lpage3 {
    padding: 0 6vw;
}

#page3top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#lpage3title>h3 {
    font-family: "Poppins", sans-serif;
    letter-spacing: 0.3vw;
    font-size: 2vw;
    color: #F85E9F;
}

#lpage3title>h1 {
    font-family: "Poppins", sans-serif;
    letter-spacing: 0.3vw;
    font-size: 2.5vw;
    margin-top: 1.5vw;
}

#lpage3arrow {
    display: flex;
    gap: 2.5vw;
}

#lcircle {
    height: 5vw;
    width: 5vw;
    border: 1px solid #f0eff6;
    border-radius: 50%;
}

#lcircle>img {
    margin-top: 1.6vw;
    margin-left: 1.6vw;
}

#rcircle {
    height: 5vw;
    width: 5vw;
    background-color: #5D50C6;
    border-radius: 50%;
}

#rcircle>img {
    margin-top: 1.6vw;
    margin-left: 1.6vw;
}

#cardspage3 {
    margin-top: 3vw;
}

#cardpage3 {
    display: flex;
    justify-content: space-between;
    gap: 3vw;
}

.cardbpage3 {
    height: 75vh;
    width: 24.35vw;
    border: 1px solid #dbd9ec;
    border-radius: 2vw;
}

.cardbpage3div {
    padding: 1vw 2vw;
    display: flex;
    justify-content: space-between;
}

.cardbpage3>h4 {
    padding: 0.5vw 2vw;
}

.cardbpage3div2 {
    display: flex;
    gap: 1vw;
    align-items: center;
    padding: 1vw 2vw;
}

.cardbpage3div2>h4 {
    color: #FF5722;
}

#page-3-responsive {
    display: none;
}

#page-4 {
    height: 100vh;
    width: 100%;
    margin-top: 5vw;
    display: flex;
}

#h3lpage4 {
    margin-top: 2vw;
    padding: 0 6vw;
}

#h3lpage4>h3 {
    letter-spacing: 0.3vw;
    font-size: 2vw;
    color: #F85E9F;
}

#plpage4 {
    padding: 0 6vw;
    margin-top: 2vw;
}

#plpage4>h1 {
    font-size: 3vw;
    font-weight: 600;
}

#para1page4 {
    padding: 0 6vw;
    margin-top: 1.5vw;
    color: #191825;
}

.cardsrpage4 {
    margin-top: 2vw;
    padding: 0 6vw;
}

.cardgrp {
    display: flex;
    gap: 5vw;
    margin-bottom: 2vw;
    text-align: center;
}

.cardP4 {
    height: 9vw;
    width: 9vw;
    padding: 1vw 1vw;
    border: 2px solid rgb(244, 244, 244);
    border-radius: 2vw;
    text-align: center;
}

.cardP4>h2 {
    color: #FF5722;
}

#page-4-responsive {
    display: none;
}

#page-5 {
    height: 100vh;
    width: 100%;
    margin-top: 7vw;
    display: flex;
    justify-content: space-between;
}

#h3lpage5 {
    margin-top: 2vw;
    padding: 0 6vw;
}

#h3lpage5>h3 {
    font-family: "Poppins", sans-serif;
    letter-spacing: 0.3vw;
    font-size: 2vw;
    color: #F85E9F;
}

#plpage5 {
    padding: 0 6vw;
    margin-top: 2vw;
}

#plpage5>h1 {
    font-size: 3vw;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
}

#para1page5 {
    padding: 0 6vw;
    margin-top: 1.5vw;
    font-family: "Poppins", sans-serif;
    color: #191825;
}

.cardspage5 {
    padding: 0 6vw;
    margin-top: 3vw;
}

.cardspage5bcards {
    display: flex;
    align-items: center;
    gap: 3vw;
}

#page-5-responsive {
    display: none;
}

#page-6 {
    margin-top: 16vw;
    height: 100vh;
    padding: 0 6vw;
    width: 100%;
}

#page-6>h3 {
    font-family: "Poppins", sans-serif;
    letter-spacing: 0.3vw;
    font-size: 2vw;
    color: #F85E9F;
    padding: 0 6vw;
    text-align: center;
    font-weight: 500;
}

#page-6>h4 {
    font-family: "Poppins", sans-serif;
    margin-top: 1.5vw;
    font-size: 3vw;
    font-weight: 600;
    text-align: center;
}

#testimonialsPage6 {
    display: flex;
    justify-content: space-between;
}

#lpage6arrow {
    display: flex;
    gap: 2.5vw;
}

#lcirclepage6 {
    height: 5vw;
    width: 5vw;
    border: 1px solid #f0eff6;
    border-radius: 50%;
    margin-top: 11vw;
}

#lcirclepage6>img {
    margin-top: 1.6vw;
    margin-left: 1.6vw;
}

#rcirclepage6 {
    height: 5vw;
    width: 5vw;
    background-color: #5D50C6;
    border-radius: 50%;
    margin-top: 11vw;
}

#rcirclepage6>img {
    margin-top: 1.6vw;
    margin-left: 1.6vw;
}

#cpage6 {
    text-align: center;
    margin-top: 4vw;
}

#cpage6>h2 {
    margin-top: 2vw;
}

#starPage6 {
    margin-top: 2vw;
}

#cpage6>h3 {
    margin-top: 3vw;
}

#circlePage6 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4vw;
    gap: 1vw;
}

.circlePage6Fir {
    height: 1.5vw;
    width: 1.5vw;
    border-radius: 50%;
    background-color: #f0eff6;
}

.circlePage6Sec {
    height: 1.5vw;
    width: 1.5vw;
    border-radius: 50%;
    background-color: #F85E9F;
    margin: 0.5vw;
}

#page-6-responsive {
    display: none;
}

#page-7 {
    background-color: #FFFBF0;
    margin: 5vw 5vw 0 5vw;
    border-radius: 3vw;
    padding: 5vw 0 5vw 0;
}

#h3page7>h3 {
    font-family: "Poppins", sans-serif;
    letter-spacing: 0.3vw;
    font-size: 2vw;
    color: #F85E9F;
    padding: 0 6vw;
    text-align: center;
    font-weight: 500;
}

#h3page7>h4 {
    font-family: "Poppins", sans-serif;
    margin-top: 3vw;
    font-size: 3vw;
    font-weight: 600;
    text-align: center;
}

#formPage7 {
    display: flex;
    justify-content: center;
    gap: 3vw;
}

#newsletterFormText {
    margin-top: 4vw;
}

#newsletterFormbtn {
    margin-top: 4vw;
}

#newsletterFormText>input[type=text] {
    height: 5vw;
    width: 45vw;
    font-family: "Poppins", sans-serif;
    margin-top: 1.5vw;
    padding: 0 2vw;
    border: 1px solid #fff;
    border-radius: 20px;
    font-size: 1.3vw;
}

#newsletterFormbtn>button {
    height: 5vw;
    font-size: 1.3vw;
    width: 13vw;
    border: 1px solid #5D50C6;
    background-color: #5D50C6;
    border-radius: 20px;
    color: #ffffff;
    font-family: "Poppins", sans-serif;
    margin-top: 1.5vw;
    padding: 0 2vw;
}

#page-7-responsive {
    display: none;
}

#footer {
    height: 70vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 3vw;
    padding: 0 7vw;
}

#rfooter {
    display: flex;
    gap: 6vw;
    margin-top: 5vw;
}

.rfooterdets1>h2 {
    font-weight: 400;
    margin-top: 3vw;
    color: #8e8d94;
}

#footer-responsive {
    display: none;
}

#nav-tablet {
    display: none;
}

#page-1-tablet {
    display: none;
}

#page-2-tablet {
    display: none;
}

#page-3-tablet {
    display: none;
}

#page-4-tablet {
    display: none;
}

#page-5-tablet {
    display: none;
}

#page-6-tablet {
    display: none;
}

#page-7-tablet {
    display: none;
}

#footer-tablet {
    display: none;
}


/* For Mobile Responsive */
@media (min-width:320px) and (max-width:480px) {
    #navbar {
        width: 100%;
        display: flex;
        padding: 0 6vw;
    }

    #cnav {
        display: none;
    }

    #rnav {
        display: none;
    }

    #menuNav {
        display: block;
    }

    #menuNav>i {
        font-size: 8vw;
        padding: 3vw;
        color: #fff;
        background-color: #5D50C6;
        border-radius: 4vw;
    }

    #page-1 {
        display: none;
    }

    #page-1-responsive {
        width: 100%;
        display: block;
    }

    #resPage1-1>img {
        height: 100%;
        width: 100%;
        margin: 8vw 0 2vw 0;
        object-fit: cover;
        object-position: center;
    }

    #resH3lpage1 {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #resH1-1-page1 {
        text-align: center;
        margin-top: 10vw;
        font-size: 9vw;
    }

    #resPara2page1 {
        text-align: center;
        font-weight: 500;
        color: #7a7984;
        margin: 7.5vw 0 7.5vw 0;
    }

    #resBtn1lpage1 {
        margin: 5vw;
        text-align: center;
        border: 2px solid #5D50C6;
        color: white;
        border-radius: 7vw;
        background-color: #5D50C6;
        padding: 1vw 2vw;
    }

    #resBtn2lpage1 {
        display: flex;
        margin: 5vw;
        gap: 1vw;
        padding: 1vw 2vw;
        border: 2px dotted rgb(222, 220, 220);
        border-radius: 7vw;
        justify-content: center;
    }

    #page-2 {
        display: none;
    }

    #page-2-responsive {
        display: block;
    }

    #resImgpage2-1 {
        padding: 8vw 5vw 3vw 0;
        display: flex;
        justify-content: space-evenly;
        gap: 5vw;
    }

    #resImgpage2-2 {
        padding: 2.5vw 5vw 8vw 0;
        display: flex;
        justify-content: center;
        gap: 5vw;
    }

    #resH3lpage2 {
        margin: 6vw 0 3vw 0;
        padding: 0 6vw;
        text-align: center;
    }

    #resH3lpage2>h3 {
        letter-spacing: 0.3vw;
        font-size: 5vw;
        color: #F85E9F;
    }

    #resPlpage2 {
        padding: 0 6vw;
        margin-top: 3vw;
        text-align: center;
    }

    #resPlpage2>h1 {
        font-size: 8vw;
        font-weight: 600;
    }

    #resRpage2 {
        margin: 10vw 5vw;
        text-align: center;
    }

    .resCardrpage2 {
        margin: 6vw 5vw;
        /* border: 1px solid #000; */
        border: 1px solid #dbd9ec;
        border-radius: 5vw;
    }

    .resCardrpage2>img {
        margin: 10vw 7vw 0 7vw;
    }

    .resCardrpage2>h2 {
        margin: 7vw;
        text-align: center;
        font-weight: 500;
    }

    .resCardrpage2>h4 {
        margin: 7vw 7vw 10vw 7vw;
        text-align: center;
        color: #9b99b6;
        font-weight: 500;
    }

    #page-3 {
        display: none;
    }

    #page-3-responsive {
        display: block;
    }

    #resH3lpage3 {
        margin: 20vw 0 3vw 0;
        padding: 0 6vw;
        text-align: center;
    }

    #resH3lpage3>h3 {
        letter-spacing: 0.3vw;
        font-size: 5vw;
        color: #F85E9F;
    }

    #resPlpage3 {
        padding: 0 6vw;
        margin-top: 3vw;
        text-align: center;
    }

    #resPlpage3>h1 {
        font-size: 7vw;
        font-weight: 600;
    }

    #resLpage3arrow {
        display: flex;
        gap: 60vw;
        padding: 0 6vw 0 6vw;
        margin-top: 7vw;
    }

    #resLcircle {
        height: 15vw;
        width: 15vw;
        border: 1px solid #f0eff6;
        border-radius: 50%;
    }

    #resLcircle>img {
        margin-top: 5.7vw;
        margin-left: 5.5vw;
    }

    #resRcircle {
        height: 15vw;
        width: 15vw;
        background-color: #5D50C6;
        border-radius: 50%;
    }

    #resRcircle>img {
        margin-top: 6.5vw;
        margin-left: 5.7vw;
    }

    #resCardspage3 {
        display: block;
        margin: 5vw 3vw 5vw 4.6vw;
    }

    #resCardpage3 {
        display: block;
    }

    .resCardbpage3 {
        width: 90vw;
        display: block;
        border: 1px solid #dbd9ec;
        border-radius: 6.6vw;
        margin-top: 8vw;
    }

    .resCardbpage3>img {
        width: 100%;
    }

    .resCardH3-1 {
        padding: 5vw 5vw;
        color: #F85E9F;
    }

    .resCardH3-2 {
        padding: 0 5vw 5vw 5vw;
    }

    .resCardbpage3>h4 {
        font-weight: 400;
        color: rgb(188, 188, 188);
        padding: 0 5vw 5vw 5vw;
    }

    .resCardbpage3div2 {
        display: flex;
        gap: 4vw;
        align-items: center;
        padding: 2vw 5vw 2vw 5vw;
    }

    .resCardbpage3div2>h4 {
        color: #FF5722;
    }

    #page-4 {
        display: none;
    }

    #page-4-responsive {
        display: block;
    }

    #resImagePage4 {
        display: block;
        margin-top: 10vw;
    }

    #resH3lpage4 {
        margin: 20vw 0 3vw 0;
        padding: 0 6vw;
        text-align: center;
    }

    #resH3lpage4>h3 {
        letter-spacing: 0.3vw;
        font-size: 5vw;
        color: #F85E9F;
    }

    #resPlpage4 {
        padding: 0 6vw;
        margin-top: 3vw;
        text-align: center;
    }

    #resPlpage4>h1 {
        font-size: 6vw;
        font-weight: 600;
    }

    #resPara2page4 {
        text-align: center;
        font-weight: 300;
        font-size: 3.5vw;
        color: rgb(188, 188, 188);
        margin: 7.5vw 0 7.5vw 0;
        padding: 0 4vw 0 4vw;
    }

    .resCardP4 {
        text-align: center;
        border: 2px solid #dbd9ec;
        margin: 6vw 5vw;
        padding: 9vw 0;
        border-radius: 9vw;
    }

    .resCardP4>h2 {
        font-size: 10vw;
        font-weight: 500;
        color: #FF5722;
    }

    .resCardP4>h4 {
        font-size: 5vw;
        font-weight: 500;
        color: rgb(188, 188, 188);
    }

    #page-5 {
        display: none;
    }

    #page-5-responsive {
        display: block;
    }

    #resImgPage5 {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 10vw;
        margin-top: 15vw;
    }

    #resImgPage5>img {
        object-fit: cover;
        object-position: center;
    }

    #resH3lpage5 {
        margin: 20vw 0 3vw 0;
        padding: 0 6vw;
        text-align: center;
    }

    #resH3lpage5>h3 {
        letter-spacing: 0.3vw;
        font-size: 5vw;
        color: #F85E9F;
    }

    #resPlpage5 {
        padding: 0 6vw;
        margin-top: 3vw;
        text-align: center;
    }

    #resPlpage5>h1 {
        font-size: 6vw;
        font-weight: 600;
    }

    #resPara2page5 {
        text-align: center;
        font-weight: 300;
        font-size: 3.5vw;
        color: rgb(188, 188, 188);
        margin: 7.5vw 0 7.5vw 0;
        padding: 0 4vw 0 4vw;
    }

    #resRpage5 {
        margin: 10vw 5vw;
    }

    .resCardrpage5 {
        margin: 6vw 5vw;
        /* border: 1px solid #000; */
        border: 1px solid #dbd9ec;
        border-radius: 5vw;
    }

    .resCardrpage5>img {
        margin: 10vw 7vw 0 7vw;
    }

    .resCardrpage5>h2 {
        margin: 7vw;
        font-weight: 500;
    }

    .resCardrpage5>h4 {
        margin: 7vw 7vw 10vw 7vw;
        color: #9b99b6;
        font-weight: 500;
    }

    #page-6 {
        display: none;
    }

    #page-6-responsive {
        display: block;
    }

    #resH3lpage6 {
        margin: 20vw 0 3vw 0;
        padding: 0 6vw;
        text-align: center;
    }

    #resH3lpage6>h3 {
        letter-spacing: 0.3vw;
        font-size: 5vw;
        color: #F85E9F;
    }

    #resPlpage6 {
        padding: 0 6vw;
        margin-top: 3vw;
        text-align: center;
    }

    #resPlpage6>h1 {
        font-size: 6vw;
        font-weight: 600;
    }

    #resImgPage6 {
        margin-top: 10vw;
        display: flex;
        justify-content: center;
    }

    #resStarPage6 {
        display: flex;
        justify-content: center;
        margin-top: 7vw;
        gap: 7vw;
    }

    #resCirclePage6 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 16vw;
        gap: 5vw;
    }

    .resCirclePage6Fir {
        height: 5vw;
        width: 5vw;
        border-radius: 50%;
        background-color: #f0eff6;
    }

    .resCirclePage6Sec {
        height: 5vw;
        width: 5vw;
        border-radius: 50%;
        background-color: #F85E9F;
        margin: 0.5vw;
    }

    #resLpage6arrow {
        display: flex;
        gap: 60vw;
        padding: 0 6vw 0 6vw;
        margin-top: 12vw;
    }

    #resLcirclePage6 {
        height: 15vw;
        width: 15vw;
        border: 1px solid #f0eff6;
        border-radius: 50%;
    }

    #resLcirclePage6>img {
        margin-top: 5.7vw;
        margin-left: 5.5vw;
    }

    #resRcirclePage6 {
        height: 15vw;
        width: 15vw;
        background-color: #5D50C6;
        border-radius: 50%;
    }

    #resRcirclePage6>img {
        margin-top: 6.5vw;
        margin-left: 5.7vw;
    }

    #page-7 {
        display: none;
    }

    #page-7-responsive {
        display: block;
        background-color: #FFFBF0;
        margin: 12vw 5vw 0 5vw;
        border-radius: 5vw;
        padding: 3vw 0 12vw 0;
    }

    #resH3page7>h3 {
        letter-spacing: 0.3vw;
        font-size: 5vw;
        color: #F85E9F;
        padding: 0 6vw;
        text-align: center;
        font-weight: 500;
    }

    #resH3page7>h4 {
        margin-top: 9vw;
        font-size: 6vw;
        font-weight: 600;
        text-align: center;
    }

    #resNewsletterFormText {
        margin-top: 4vw;
        display: block;
        text-align: center;
    }

    #resNewsletterFormbtn {
        margin-top: 4vw;
        display: block;
        text-align: center;
    }

    #resNewsletterFormText>input[type=text] {
        height: 15vw;
        width: 74vw;
        margin-top: 1.5vw;
        padding: 0 6vw;
        border: 1px solid #fff;
        border-radius: 3vw;
        font-size: 5vw;
    }

    #resNewsletterFormbtn>button {
        height: 15vw;
        width: 74vw;
        font-size: 5vw;
        border: 1px solid #5D50C6;
        background-color: #5D50C6;
        border-radius: 3vw;
        color: #ffffff;
        margin-top: 1.5vw;
        padding: 0 6vw;
    }

    #footer {
        display: none;
    }

    #footer-responsive {
        margin-top: 12vw;
        display: block;
    }

    #footer-responsive>img {
        padding: 0 6vw;
    }

    #footer-responsive>p {
        padding: 0 6vw;
        font-size: 3vw;
        margin-top: 5vw;
        color: #8e8d94;
    }

    #resFooterLogo {
        padding: 0 6vw;
    }

    .resFooterDets {
        padding: 0 2vw 0 6vw;
        margin-top: 15vw;
        display: flex;
        justify-content: space-between;
    }

}


/* For Tablet Responsive */
@media (min-width:481px) and (max-width:1024px) {
    #navbar {
        display: none;
    }

    #page-1 {
        display: none;
    }

    #page-1-responsive {
        display: none;
    }

    #page-2 {
        display: none;
    }

    #page-2-responsive {
        display: none;
    }

    #page-3 {
        display: none;
    }

    #page-3-responsive {
        display: none;
    }

    #page-4 {
        display: none;
    }

    #page-4-responsive {
        display: none;
    }

    #page-5 {
        display: none;
    }

    #page-5-responsive {
        display: none;
    }

    #page-6 {
        display: none;
    }

    #page-6-responsive {
        display: none;
    }

    #page-7 {
        display: none;
    }

    #page-7-responsive {
        display: none;
    }

    #footer {
        display: none;
    }

    #footer-responsive {
        display: none;
    }

    #nav-tablet {
        height: 100px;
        width: 100%;
        margin-top: 2vw;
        /* background: #000; */
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 5vw;
    }

    #tabLnav {
        margin: 0 1vw;
    }

    #tabLnav>i {
        font-size: 3vw;
        padding: 2vw;
        color: #fff;
        background-color: #5D50C6;
        border-radius: 2vw;
    }

    #tabCnav {
        display: flex;
        justify-content: center;
    }

    #tabRnav {
        display: flex;
        gap: 2vw;
    }

    #tabRnav>h4 {
        font-family: "Poppins", sans-serif;
        font-weight: 500;
    }

    #tabRnav>#tabNavbtn1 {
        border: 2px solid white;
        background-color: #fff;
        color: #000;
        padding: 1vh 3vh;
        border-radius: 5vw;
    }

    #tabRnav>#tabNavbtn2 {
        border: 2px solid #5D50C6;
        background-color: #5D50C6;
        color: #fff;
        padding: 1vh 3vh;
        border-radius: 5vw;
    }

    #page-1-tablet {
        display: block;
        margin-top: 5vw;
    }

    #tabPage1img {
        display: flex;
        justify-content: center;
    }

    #tabH3lpage1 {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 2vw;
        padding: 0 8vw;
        color: #F85E9F;
        font-size: 2vw;
    }

    #tabH1-1-page1 {
        text-align: center;
        margin-top: 9vw;
        padding: 0 6vw;
        font-size: 7vw;
    }

    #tabPara2page1 {
        font-size: 2.5vw;
        text-align: center;
        padding: 0 6vw;
        margin-top: 5vw;
        color: #7a7984;
    }


    #tabBtnlpage1 {
        display: flex;
        justify-content: center;
        padding: 0 6vw;
        gap: 5vw;
        margin-top: 7vw;
    }

    #tabBtnlpage1>h4 {
        border: 2px solid #5D50C6;
        color: white;
        border-radius: 4vw;
        font-size: 2vw;
        background-color: #5D50C6;
        padding: 2vw 4vw;
    }

    #tabBtn2lpage1 {
        display: flex;
        gap: 0.7vw;
        font-size: 2vw;
        align-items: center;
        padding: 2vw 4vw;
        border: 2px dotted rgb(222, 220, 220);
        border-radius: 4vw;
    }

    #page-2-tablet {
        display: block;
    }

    #tabImgpage2-1 {
        margin-top: 12vw;
        padding: 8vw 5vw 3vw 0;
        display: flex;
        justify-content: center;
        gap: 5vw;
    }

    #tabImgpage2-2 {
        padding: 2.5vw 5vw 8vw 0;
        display: flex;
        justify-content: center;
        gap: 5vw;
    }

    #tabH3lpage2 {
        margin: 6vw 0 3vw 0;
        padding: 0 6vw;
        text-align: center;
    }

    #tabH3lpage2>h3 {
        letter-spacing: 0.3vw;
        font-size: 3vw;
        color: #F85E9F;
    }

    #tabPlpage2 {
        padding: 0 6vw;
        margin-top: 3vw;
        text-align: center;
    }

    #tabPlpage2>h1 {
        font-size: 5vw;
        font-weight: 600;
    }

    #tabRpage2 {
        display: flex;
        justify-content: space-between;
        margin: 10vw 1vw;
        text-align: center;
    }

    .tabCardrpage2 {
        margin: 2vw 1vw;
        /* border: 2px solid #000; */
        border: 1px solid #dbd9ec;
        border-radius: 5vw;
    }

    .tabCardrpage2>img {
        margin: 7vw 7vw 0 7vw;
    }

    .tabCardrpage2>h2 {
        margin: 7vw 5vw 3vw 5vw;
        text-align: center;
        font-weight: 500;
    }

    .tabCardrpage2>h4 {
        margin: 5vw 7vw 6vw 7vw;
        text-align: center;
        color: #9b99b6;
        font-weight: 500;
    }

    #page-3-tablet {
        display: block;
    }

    #tabH3lpage3 {
        margin: 20vw 0 3vw 0;
        padding: 0 6vw;
        text-align: center;
    }

    #tabH3lpage3>h3 {
        letter-spacing: 0.3vw;
        font-size: 3vw;
        color: #F85E9F;
    }

    #tabPlpage3 {
        padding: 0 6vw;
        margin-top: 3vw;
        text-align: center;
    }

    #tabPlpage3>h1 {
        font-size: 5vw;
        font-weight: 600;
    }

    #tabLpage3arrow {
        display: flex;
        justify-content: center;
        gap: 5vw;
        padding: 0 6vw 0 6vw;
        margin-top: 7vw;
    }

    #tabLcircle {
        height: 15vw;
        width: 15vw;
        border: 1px solid #f0eff6;
        border-radius: 50%;
    }

    #tabLcircle>img {
        margin-top: 5.7vw;
        margin-left: 5.4vw;
    }

    #tabRcircle {
        height: 15vw;
        width: 15vw;
        background-color: #5D50C6;
        border-radius: 50%;
    }

    #tabRcircle>img {
        margin-top: 5.7vw;
        margin-left: 5.7vw;
    }

    #tabRpage3 {
        display: flex;
        justify-content: space-evenly;
        margin: 10vw 1vw;
        text-align: center;
    }

    .tabCardrpage3 {
        margin: 2vw 1vw;
        /* border: 2px solid #000; */
        border: 1px solid #dbd9ec;
        border-radius: 5vw;
    }

    .tabCardrpage3>img {
        /* margin: 7vw 7vw 0 7vw; */
    }

    .tabCardrpage3>h2 {
        margin: 7vw 5vw 3vw 5vw;
        text-align: center;
        font-weight: 500;
    }

    .tabCardrpage3>h4 {
        margin: 5vw 7vw 6vw 7vw;
        text-align: center;
        color: #9b99b6;
        font-weight: 500;
    }

    #page-4-tablet {
        display: block;
    }

    #page-4-tablet>img {
        width: 100%;
        object-fit: cover;
        object-position: center;
    }

    #tabH3lpage4 {
        margin: 10vw 0 3vw 0;
        padding: 0 6vw;
        text-align: center;
    }

    #tabH3lpage4>h3 {
        letter-spacing: 0.3vw;
        font-size: 3vw;
        color: #F85E9F;
    }

    #tabPlpage4 {
        padding: 0 6vw;
        margin-top: 2vw;
        text-align: center;
    }

    #tabPlpage4>h1 {
        font-size: 4.1vw;
        font-weight: 600;
    }

    #tabPara1page4 {
        font-size: 1.8vw;
        text-align: center;
        padding: 0 6vw;
        margin-top: 5vw;
        color: #7a7984;
    }

    .tabCardsrpage4 {
        margin-top: 2vw;
        padding: 0 0;
    }
    
    .tabCardgrp {
        display: flex;
        justify-content: space-between;
        gap: 5vw;
        margin: 0 5vw 2vw 5vw;
        text-align: center;
    }
    
    .tabCardP4 {
        height: 18vw;
        width: 45vw;
        padding: 3vw 0;
        border: 2px solid rgb(244, 244, 244);
        border-radius: 2vw;
        text-align: center;
    }
    
    .tabCardP4>h2 {
        font-size: 5vw;
        color: #FF5722;
    }

    #page-5-tablet{
        display: block;
    }

    #tabImgPage5{
        display: flex;
        justify-content: center;
        padding: 0 5vw;
    }

    #tabImgPage5>img{
        object-fit: cover;
        object-position: center;
    }
}